* {
  margin: 0;
  padding: 0;
}

#root {
  width: 75%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

img {
  max-width: 120px;
  height: auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  gap: 2rem;
}
