* {
  margin: 0;
  padding: 0;
}

#root {
  width: 75%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}